.home {
      display: flex;
      justify-content: space-between;
}

.home_left {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 16px;
      padding: 40px 10px;
      border-right: 1px solid #000;
      width: 233px;
      height: 384px;
      a {
            color: #000;
            font-size: 14px;
            font-weight: 400;
            transition: .3s;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 10px;
            transition: .3s;
            &:hover span {
                  display: block;
            }
            span {
                  display: none;
            }
      }
}

.home_right{
      width: 892px;
      height: 344px;
}

.home_bottom{
      margin-top: 140px;
      .home_cards{
            .home_cards_pro{
                  .shape{
                        background-color: #DB4444;
                        width: 20px;
                        height: 40px;
                        color: #DB4444;
                        user-select: none;
                        border-radius: 4px;
                  }
                  span{
                        font-size: 12px;
                  }
                  section{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-bottom: 24px;
                        h4{
                              color: #DB4444;
                              font-size: 16px;
                        }
                  }
                  h1{
                        font-size: 48px;
                        font-family: 'inter';
                        margin-right: 87px;
                        font-weight: 500;
                  }
                  h2{
                        font-size: 32px;
                        font-weight: 700;
                        display: flex;
                        gap: 17px;
                        align-items: center;
                        span{
                              color: #DB4444;
                              font-size: 25px;
                        }
                  }
                  .position{
                        position: absolute;
                  }
                  .days{
                        left: 670px;
                  }
                  .hours{
                        left: 740px;
                  }
                  .span_left{
                        top: 690px;
                  }
                  .minutes{
                        left: 815px;
                  }
                  .seconds{
                        left: 890px;
                  }
            }
      }
}