.nav_top{
      background-color: black;
      height: 48px;
      width: 100%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 231px;
}

.nav_top_left{
      display: flex;
      align-items: center;
      gap: 10px;
      a{
            color: #fff;
            text-decoration: underline;
      }
}

.nav_top_right{
      select{
            background-color: black;
            color: #fff;
            border: none;
            outline: none;
      }
}

.navbar{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav-logo{
            color: black;
            font-size: 24px;
            font-weight: bold;
            font-family: "Inter", sans-serif;
      }
      .nav_list{
            display: flex;
            align-items: center;
            gap: 20px;
            .nav_link{
                  display: flex;
                  align-items: center;
                  gap: 48px;
                  a{
                        color: #000;
                        transition: .3s;
                        &:hover{
                              text-decoration: underline;
                        }
                  }
            }
      }
      .nav_right{
            display: flex;
            align-items: center;
            gap: 16px;
            font-size: 24px;
            .nav_right_input{
                  display: flex;
                  align-items: center;
                  background-color: #F5F5F5;
                  width: 243px;
                  height: 38px;
                  justify-content: space-between;
                  padding: 7px 12px;
                  input{
                        background: transparent;
                        border: none;
                        outline: none;
                  }
                  div{
                        font-size: 24px;
                  }
            }
      }
}